NEXT_PUBLIC_SUPABASE_URL=https://lldywimvdfqjqcqqkuvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxsZHl3aW12ZGZxanFjcXFrdXZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyNTI1MjAsImV4cCI6MjA5MjgyODUyMH0.Ry8nyJdMWH4mU6H5m19ybbOtBtpLPznEjpI_W6MFgVI
NEXT_PUBLIC_STORE_WHATSAPP=5521985529198
